# Lab 1

Be sure to `import math` before beginning these exercises.  
Answers shown are rounded to 6 decimal digits. It is not necessary for you to round your answers.

* The expression $a^3 - b^3$ is evenly divisible by $a-b$. Verify that $\dfrac{180^3 - 19^3}{180-19}$ simplifies to a whole number.

 Answer: `36181.0`

In [5]:
import math as m

In [1]:
(180**3 - 19**3) / (180 - 19)

36181.0

* For any two-digit number $\underline{a}\underline{b}$, the fraction $ab/99$ corresponds to a repeating decimal:
 $$\frac{ab}{99} = 0.ababab\ldots = 0.\overline{ab}.$$
 
 Verify by calculating $\frac{7}{99}$ and $\frac{73}{99}$.
 
 Answers: `0.070707` and `0.737373`

In [3]:
7 / 99, 73 / 99

(0.0707070707070707, 0.7373737373737373)

* $(3,4,5)$ is a Pythagorean triple: $3^2 + 4^2 = 5^2$. Another triple is $(19, b, 181)$. What is $c$?

 Answer: `180`

In [6]:
m.sqrt(181**2 - 19**2)

180.0

* The fraction $\frac{22}{7}$ can be used as an approximation for $\pi$. What is the absolute difference of the two values? Use the `abs` function and the `math.pi` constant.

 Answer: `0.001264`

In [8]:
abs(22 / 7 - m.pi)

0.0012644892673496777

* What is the difference between `0.9` and `0.3 * 3`?

 Answer: `1.110223e-16`

In [9]:
0.9 - (0.3*3)

1.1102230246251565e-16

### Quotients and Remainders

* Find the quotient when $123456$ is divided by $19$. Use the `//` operator.

 Answer: `6497`

In [10]:
123456 // 19

6497

* Find the remainder when $123456$ is divided by $19$. Use the `%` operator.

 Answer: `13`

In [11]:
123456 % 19

13

* Use the `%` operator to calculate the units digit of $17^{19}$.

 Answer: `3`

In [16]:
17 ** 19 % (10)

3

* Use the `%` operator to calculate the last two digits of $17^{19}$.

 Answer: `53`

In [17]:
17 ** 19 % 100

53

### Exponentials and Logarithms

* Calculate $\sqrt[3]{e}$ and round to $6$ decimal digits. (Use the `round` function and either the `math.e` constant or the `math.exp` function.)

 Answer: `1.395612`

In [20]:
round(((m.e) ** (1/3)), 6)

1.395612

* Which number is larger: $e^\pi$ or $\pi^e$? (Use the `max` function.)

 Answer: `23.140692` which corresponds to $e^\pi$.

In [21]:
max(m.e ** m.pi, m.pi ** m.e)

23.140692632779263

* What is the value of $10\ln \left(e^3 + e^2 \right) $?

 Answer: `33.132617`

In [22]:
10 * m.log(m.e**3 + m.e**2)

33.13261687518222

* What is the value of $\log_2{1048576}$?

 Answer: `20.0`

In [23]:
m.log(1048576, 2)

20.0

### Trigonometry

* Calculate the degree measure of $1$ radian. Use the `math.degrees` function.

 Answer: `57.295790`

In [24]:
m.degrees(1)

57.29577951308232

* Calculate the value of $\sec(75^\circ)$. Use the `math.cos` and `math.radians` function.

 Answer: `3.863703`

In [25]:
(1/m.cos(m.radians(75)))

3.8637033051562737

* The value of $\tan(\pi/2)$ is undefined. What happens if the angle is close to $\pi/2$? Evaluate the `math.tan` function at the angles $\pi/2 \pm 10^{-6}$. Use scientific notation for `1e-6`.

Answers: `-1000000.000143` and `1000000.000021`

In [27]:
m.tan(m.pi / 2 + 1e-6), m.tan(m.pi / 2 - 1e-6)

(-1000000.0001431657, 1000000.0000207009)

### Defining Functions

* Write a function `sum_squares(n)` that returns the integer sum of the perfect squares $1^2 + 2^2 + \cdots + n^2$ using the formula
$$ S = \frac{n(n+1)(2n+1)}{6} $$
which always evaluates to an integer. (Why is that?)

 Example: `sum_squares(200)` returns `2686700`, an integer.

In [30]:
def sum_squares(n):
    s = (n * (n+1) * ((2*n)+1)) / 6
    return(s)
sum_squares(200)

2686700.0

* Write a function `mins_to_msec(mins)` that returns the number of milliseconds in the given number of minutes.

 Example: `mins_to_msec(4.5)` returns `270000.0`.

In [31]:
def mins_to_msec(mins):
    mil = mins * 60000
    return mil
mins_to_msec(4.5)

270000.0

* Write a function `days_to_msec(days)` that returns the number of milliseconds in the given number of days. It should call the `mins_to_msec` function.

 Example: `days_to_msec(4.5)` returns `388800000.0`.

In [32]:
def days_to_msec(days):
    mil = days * 60000 * 24 * 60
    return mil
days_to_msec(4.5)

388800000.0

* Write a function `fah_to_cel(fah)` that converts a Fahrenheit temperature to Celsius. *Hint:* Use the fact that $32^\circ F = 0^\circ C$ and $212^\circ F = 100^\circ C$.

 Example:  `fah_to_cel(-10)` returns `-23.333333`.

In [33]:
def fah_to_cel(fah):
    cel = 5/9 * (fah - 32)
    return cel
fah_to_cel(-10)

-23.333333333333336

* Write a function `cel_to_fah(cel)` that converts a Celsius temperature to Fahrenheit.
 
 Example: `cel_to_fah(50)` returns `122.0`.

In [36]:
def cel_to_fah(cel):
    fah = (9/5 * cel) + 32
    return fah
cel_to_fah(50)

122.0

* The *binomial coefficient* $\binom{n}{r}$ represents the number of unordered ways to select a set of $r$ objects from a total of $n$ objects:
$$ \binom{n}{r} = \frac{n!}{r!(n-r)!}. $$

 Write a function `binom(n, r)` that takes two non-negative integers $n$ and $r$ and returns the integer value of $\binom{n}{r}$.

 Examples:  
 The number of ways to randomly choose 3 students out of 10 to dine for free at Carelli's is `binom(10, 3)` which equals `120`.  
 The number of ways to randomly give out 4 free ski lift tickets to 15 students is `binom(15, 4)` which equals `1365`.

In [37]:
def binom(n,r):
    cof = (m.factorial(n)) / (m.factorial(r) * m.factorial(n - r))
    return cof
binom(10,3)

120.0

### Printing

* Print this pattern without writing out each character. There are 20 CUs in each row.
```
  CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
   CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
    CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
     CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
```

In [44]:
print("CU " * 20)
print("", "CU " * 20)
print(" ","CU " * 20)
print("  ","CU " * 20)

CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU
 CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU
  CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU
   CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU

* Print this pattern.

```
   CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
   CU                                                       CU
   CU                                                       CU
   CU                                                       CU
   CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
```

In [51]:
print("CU " * 20)
print("CU", "                                                     ", "CU")
print("CU", "                                                     ", "CU")
print("CU", "                                                     ", "CU")
print("CU " * 20)

CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU
CU                                                       CU
CU                                                       CU
CU                                                       CU
CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU

* Write a function `str_repeat(text, n)` that returns a string with `text` concatenated `n` times. It should **not** print the string.

 Example:  
 `haha = str_repeat('ha', 5)`  
 `haha`  
 displays `'hahahahaha'`.

In [56]:
def str_repeat(text, n):
    s = text * n
    return s
str_repeat("ha",5)

'hahahahaha'

* Write a function `stars50()` that displays the 50-star pattern found in the U.S. flag. It should call the `str_repeat` function.

  ```
  * * * * * *
   * * * * *
  * * * * * *
   * * * * *
  * * * * * *
   * * * * *
  * * * * * *
  ```

In [63]:
def stars50():
    print(str_repeat("* ", 6))
    print(str_repeat(" *", 5))
    print(str_repeat("* ", 6))
    print(str_repeat(" *", 5))
    print(str_repeat("* ", 6))
    print(str_repeat(" *", 5))
    print(str_repeat("* ", 6))
    
stars50()

* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *

* Create your own pattern.

In [66]:
def starsMe():
    print(str_repeat("* ", 6))
    print(str_repeat(" *", 5))
    print(str_repeat("* ", 4))
    print(str_repeat(" *", 5))
    print(str_repeat("* ", 6))
    print(str_repeat(" *", 5))
    print(str_repeat("* ", 4))
    print(str_repeat(" *", 5))
    print(str_repeat("* ", 6))
    
    
starsMe()

* * * * * *
 * * * * *
* * * *
 * * * * *
* * * * * *
 * * * * *
* * * *
 * * * * *
* * * * * *

## Extra Problems

### Parabola Vertex

Write a function `parabola_vertex(a, b, c)` that returns the vertex of a parabola $y=ax^2+bx+c$.

Example: `parabola_vertex(-2, -12, -11)` returns `(-3, 7)`.

### Triangle Angles

Write a function `triangle_angles(a, b, c)` that takes the positive side lengths of a triangle and returns the measures of the interior angles.

*Hint:* Use the *Law of Cosines* $c^2 = a^2 + b^2 - 2ab\cos C$.

Example: `triangle_angles(3, 4, 5)` returns `(1.570796, 0.643501, 0.927295)` in any order.

### Complex Numbers
To represent complex numbers in Python use the letter `j` for $i = \sqrt{-1}$. For example the complex numbers $7i$ and $3+2i$ are represented as `7j` and `3+2j`.

* Evaluate $i(3+2i)(4-5i)$.
 
 Answer: `(7+22j)`

* The equation $e^{i\pi} + 1 = 0$ is known as *Euler's Identity*. Verify the identity.