# Lab 3

* Use the `range` constructor and the `list` function to generate the following lists:  
 ```
 [21, 22, 23, 24, ..., 40]  
 [7, 14, 21, 28, ..., 70]
 [-65, -55, -45, ..., -5]  
 [150, 140, 130, ..., 0]
 ```

In [5]:
list(range(21,41)), list(range(7,71,7)), list(range(-65, -4, 5)), list(range(150,-1, -10))

([21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [-65, -60, -55, -50, -45, -40, -35, -30, -25, -20, -15, -10, -5],
 [150, 140, 130, 120, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

* The `range` constructor works for integers only. Write a loop to generate the list  
 ```
 [1.5, 2.5, 3.5, ..., 10.5]
 ```

In [11]:
new_list = []
for i in range(1,11):
    new_list.append(i + 0.5)
print(new_list)

[1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 10.5]

* Write a function **`mean(nums)`** that returns the average (mean) of a list of numbers.

 Example: `mean([25, 32, 7, 9, 4, 14])` returns `15.1666667`.

In [13]:
def mean(nums):
    avg = 0
    for i in nums:
        avg = avg + i
    return(avg / len(nums))
mean([25, 32, 7, 9, 4, 14])

15.166666666666666

* Write a function **`median(nums)`** that takes an unsorted list of numbers and returns the median. You may call the `sorted` function.

 Example: `median([25, 32, 7, 9, 4, 14])` returns `11.5`.

In [36]:
def median(nums):
    nums = sorted(nums)
    num_elements = 0
    for i in nums:
        num_elements += 1
    if num_elements % 2 == 1:
        return nums[(num_elements // 2)]
    else:
        return (nums[num_elements // 2] + nums[(num_elements // 2) - 1]) / 2
median([1,2,3,4,5,6,7,8])

4.5

* Write a function **`tele_sum(n)`** that sums the telescoping series 
 $$S = \dfrac{1}{1\cdot 2} + \dfrac{1}{2\cdot 3} + \dfrac{1}{3\cdot 4} + \cdots + \dfrac{1}{n\cdot (n+1)}.$$ 
Use a `for` loop.

 Example: `tele_sum(99)` returns $0.99$.

In [27]:
def tele_sum(n):
    s = 0
    for i in range(1, n+1):
        s += 1 / (i * (i + 1))
    return s
tele_sum(99)

0.9899999999999997

* Write a function **`digit_sum(n)`** that returns the sum of the digits of `n`.  
*Hint:* `list(str(n))` returns a list of the digits of `n` in string format.

 Example: The sum of the digits of $50!$ is $216$.

In [34]:
import math as m
def digit_sum(n):
    n = list(str(n))
    new_list = []
    for i in n:
        new_list.append(int(i))
    counter = 0
    for i in new_list:
        counter += i
    return counter
digit_sum(294), digit_sum(m.factorial(50))

(15, 216)

* For each of the integers from 1 to 50, check whether the digit sum is divisible by 9. If so, print the number. The result should be
```
9  
18  
27  
36  
45
```

In [35]:
for i in range(1,51):
    if i % 9 == 0:
        print(i)

9
18
27
36
45

* Write a function **`rectangle(t, w, h, color)`** that takes a Turtle pen `t` and draws a colored filled rectangle using the given width and height.

 Use `rectangle` to draw four rectangles arranged in the following pattern, each twice as wide as it is high. Additional colors can be found here: https://matplotlib.org/examples/color/named_colors.html.
 
 <img src="https://spot.colorado.edu/~sschang/python/turtle-rect-grid.png" height="219" width="213" />

* Create your own print pattern or Turtle design.

# Extra Problems
 
 Use `square` to display overlapping squares in an assortment of colors, similar to the figure below.

 <img src="https://spot.colorado.edu/~sschang/python/turtle-squares-decr.png" height="245" width="217" />