# Lab 5

### Code Tracing
Can you figure out what each cell outputs (without running the code)? Check your answers.

s = 0
for x in range(1, 10, 3):
    print(x, s)
    s += x
s

In [ ]:
#x = 1, 4, 7
#s = 0, 1, 5, 12

In [31]:
s = 0
for x in range(1, 10, 3):
    print(x, s)
    s += x
s

1 0
4 1
7 5

12

lst = [25, -3, 2, 5.7]
s = 0
for x in range(len(lst)):
    print(x, lst[x])
    s += 1
s

In [ ]:
#x = 0, 1, 2, 3
#y = 25, -3, 2, 5.7, 4

In [32]:
lst = [25, -3, 2, 5.7]
s = 0
for x in range(len(lst)):
    print(x, lst[x])
    s += 1
s

0 25
1 -3
2 2
3 5.7

4

### Palindromic Number
Write a function **`palindromic(num)`** that returns `True` if an integer `num` is *palindromic*, meaning the number is the same when the digits are reversed.

*Hint:* `str(num)` converts a number into a string. If `num` is an integer, then `list(str(num))` returns a list of the digits of `num` as characters. For example, `list(str(37))` returns `['3', '7']`.

 Examples:  
 `palindromic(3)` returns `True`.  
 `palindromic(37973)` returns `True`.    
 `palindromic(37971)` returns `False`.

In [7]:
def palindromic(num):
    str_num_list = list(str(num))
    reversed_list = []
    for i in range(len(str_num_list)):
        reversed_list.append(str_num_list[len(str_num_list) - i - 1])
    if str_num_list == reversed_list:
        return True
    else:
        return False
    return str_num_list
palindromic(37973), palindromic(345)

(True, False)

Use a list comprehension to create a list containing all of the 3-digit numbers less than 400 that are palindromic.

In [12]:
palindromic_nums = []
[palindromic_nums.append(palindromic(i)) for i in range(400)]
    
print(palindromic_nums)

[True, True, True, True, True, True, True, True, True, True, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False]

### Cumulative Sum
Write a function **`cumsum(nums)`** that returns the *cumulative sum* of the numbers in a list. The $k$th element of the result equals the sum of the first $k$ numbers in `nums`. You may assume that the elements of the list are all numbers.

 Example: `cumsum([2, 4, -7, 13])` returns $[2, 6, -1, 12]$ which corresponds to 
 
 $$\begin{align*}
 2 &= 2\\
 6 &= 2+4\\
 -1 &= 2+4-7\\
 12 &= 2+4-7+13.
 \end{align*}
 $$

In [24]:
def cumsum(nums):
    sum_list = []
    count = 0
    for i in nums:
        count += i
        sum_list.append(count)
    return sum_list
cumsum([2, 4, -7, 13])

[2, 6, -1, 12]

### Intersection of Two Lines
Write a function **`intersect(line1, line2)`** that returns the `(x,y)` coordinates of the intersection point of two lines. If none, the function returns an empty tuple. Each non-vertical line  $ùë¶=ùëöùë•+ùëè$  is represented by a tuple `(m, b)`.

  Examples:  
      `intersect((2,3), (2,4))` returns `()`.  
      `intersect((2,3), (-3,4))` returns `(0.2, 3.4)` which the intersection point of $y=2x+3$ and $y=-3x+4$.

In [28]:
def intersect(line1, line2):
    if line1[0] == line2[0]:
        return ()
    else:
        eq_side1 = line2[1] - line1[1]
        eq_side2 = line1[0] - line2[0]
        x = eq_side1 / eq_side2
        y = (line1[0] * x) + line1[1]
        return((x,y))
        
intersect((2,3), (-3,4))

(0.2, 3.4)

### A Sequence
A *sequence* is an ordered list of numbers: $a_1, a_2, a_3, \ldots$. Consider the recursively defined sequence $a_{n} = \frac{3}{4}a_{n-1}$ where each term is $\frac 34$ of the previous term. Write a function **`seq34(a1, n)`** that returns a list containing the first `n` terms of the sequence given that the first term is `a1`. Assume that `n` is a positive `int`.

  Example:  
  `seq34(16.0, 4)` returns `[16.0, 12.0, 9.0, 6.75]` which represents the first 4 terms of the sequence with $a_1 = 16$.

In [30]:
def seq34(a1, n):
    seq_list = []
    for i in range(n):
        seq_list.append(((3/4)**i) * a1)
    return seq_list
seq34(16.0, 4)

[16.0, 12.0, 9.0, 6.75]

### Extra Problems

### Triangle of Integers
Write a function **`triangle_ints(n)`** that displays `n` rows of integers (1, 2, ...) in a triangle formation. 
You may assume that `n` is a positive `int`.

 Examples:  
 `triangle_ints(4)` displays
 ```
 1  
 2 3  
 4 5 6  
 7 8 9 10
 ```
___

  *Hint:* By default the `print` function always ends by inserting a newline. You can use the parameter `end` to indicate that the printing should end with a character other than a newline. To print only a newline you can call `print()`. The newline character is `'\n'`.
 
 Example:  
 ```
 print(8, end=" ")
 print(9)
 ```
 
 displays
 ```
 8 9
 ```